@model IEnumerable<EntityLayer.Concrete.Author>
@{
    ViewBag.Title = "AuthorList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini bg-dark">
    <div class="container-fluid col-10 mt-2 bg-dark">
        <section class="content bg-dark">
            <div class="card-body pb-0 bg-dark">
                <h2>Yazarlar </h2>
                <br />
                <a href="/Author/AddAuthor/" class="btn btn-outline-light mb-3 ">Yeni Yazar Ekle</a>
                <div class="row d-flex align-items-stretch">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-gradient-light">
                                <div class="card-header text-muted border-bottom-0 ">
                                    @item.AuthorTitle
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@item.AuthorName </b></h2>
                                            <p class="text-muted text-sm"><b>İlgi Alanları : </b>@item.AboutShort</p>
                                            <p class="text-muted text-sm"><b>Hakkında : </b>@item.AuthorAbout</p>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small mb-2"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Mail : @item.Mail</li>
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>@item.PhoneNumber</li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="@item.AuthorImage" alt="" class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="/Blog/AuthorBlogList/@item.AuthorID" class="btn btn-sm bg-teal">
                                            <i class="fas fa-comments"></i> Yazarın Blogları
                                        </a>
                                        <a href="/Author/AuthorEdit/@item.AuthorID" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> Profili Düzenle
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</body>

</html>
